<%# ----------------------------ALL PATIENTS (/patients)------------------------ %>
<div class="jumbotron text-center">
  <h1>Welcome Doctor </h1>
  <p>Here are a list of patients who are at the hospital</p>
</div>

<h1>All patient</h1>
<% @patients.each do |patient| %>
  <h2><%= patient.patient_name %></h2>
  <p>Doctor ID: <%= patient.doctor_id %></p>
  <p>Age: <%= patient.age %></p>
  <p>Medical Category: <%= patient.medical_category%></p>
  <p>Description: <%= patient.descripition%></p>
 

<% end %>



